@import "./base";
.cv{
    
    &_config{
        border: 2px solid black;
        height: 100px;
    }
    &_content{
        @include flex-center;
        border: 2px solid red;
        height: 600px;
        &_tools{
            width: 200px;
            height: 100%;
            padding-top: 30px;
            border: 2px solid green;
            &_joystick{
                display: grid;
                row-gap: 10px;
                border:3px solid crimson;
                #up, #down{
                    @include grid-center;
                }
                #m{
                    @include flex-center;
                    column-gap: 5px;
                }
            }
            &_pen{
                position: relative;
                top:110px;
            }
        }
        &_profile{
            height: 100%;
            border: 2px solid black;
            padding: 30px;
            &_picture{
                width: 200px;
                height: 200px;
                position: relative;
                display: grid;
                justify-self: center;
                overflow: hidden;
                box-shadow: 0px 1px 5px 4px gray;
                border-radius: 20px;
                img{
                    object-fit: contain;
                    position: relative;
                }
            }
            &_summary{
                display: grid;
                row-gap: 3px;
                position: relative;
                top:30px;
                .double{
                    display: flex;
                    align-items: flex-end;
                    column-gap: 10px;
                }
                input{
                    border: none;
                    font-size: 16px;
                    font-weight: 300;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        &_details{
            width: 600px;
            border: 2px solid salmon;
            height: 100%;
        }
    }
}