@import "./base";
.cv{
    
    &_config{
        border: 2px solid black;
        height: 100px;
    }

    &_tools{
        width: 200px;
        height: 100%;
        padding-top: 30px;
        //border: 2px solid green;
        position: absolute;
        user-select: none;
        &_joystick{
            display: grid;
            row-gap: 10px;
            //border:3px solid crimson;
            #up, #down{
                @include grid-center;
            }
            #m{
                @include flex-center;
                column-gap: 5px;
            }
        }
        &_pen, &_pencil{
            position: relative;
            display: flex;
            column-gap: 10px;
            //top:115px;
            padding-bottom: 5px;
            padding-left: 10px;
            @include pen_button;
        }
        &_pencil{
            top:110px;
        }
    }
    &_content{
        @include flex-center;
        //border: 2px solid red;
        height: 600px;
        width: 800px;
        position: relative;
        left: 230px;
        &_profile{
            height: 100%;
            border: 2px solid black;
            padding: 30px;
            &_picture{
                width: 200px;
                height: 200px;
                position: relative;
                display: grid;
                justify-self: center;
                overflow: hidden;
                border-radius: 20px;
                img{
                    object-fit: contain;
                    position: relative;
                }
            }
            &_summary{
                display: grid;
                row-gap: 5px;
                position: relative;
                top:30px;
                .double{
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                }
                @include input-styles;
                &_line{
                    //border:2px solid black;
                    position: relative;
                    display: flex;
                    column-gap: 10px;
                    align-items: center;
                    &_penholder{
                        //border: 1px solid red;
                        position: absolute;
                        top:0;
                        left:-250px;
                    }
                }
            }
        }
        &_details{
            width: 600px;
            border: 2px solid salmon;
            height: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            &_tools{
                position: absolute;
                //border:2px solid red;
                right: -320px;
                top:0;
                width: 300px;
                height: 600px;
                padding-top: 30px;
                &_pen{
                    display: flex;
                    column-gap: 10px;
                    @include pen_button;
                    padding: 5px;
                }

            }

            @include input-styles;

            &_chapter{
                position: relative;
                display: grid;
                row-gap: 10px;
                &_content{
                    text-align: justify;
                    width: 500px !important;
                    height: fit-content;
                    display: flex;
                    column-gap: 10px;
                    position: relative;
                    &_controls{
                        position: absolute;
                        right: -310px;
                        top:-10px;
                        z-index: 5;
                        //border: 2px solid salmon;
                        h3{
                            position: relative;
                            left: 5px;
                            text-decoration: underline;
                        }
                    }
                    #education_double{
                        display: flex;
                        column-gap: 10px;
                    }
                    #education_extra{
                        display: flex;
                        column-gap: 15px;
                    }
                    #education_controls{
                        top:-45px;
                    }
                }
            }
        }
    }
}