@import "./base";
.cv{
    
    &_config{
        border: 2px solid black;
        height: 100px;
    }
    &_content{
        @include flex-center;
        border: 2px solid red;
        height: 600px;
        &_tools{
            border:3px solid green;
            width: 200px;
            height: 100%;
            &_joystick{
                display: grid;
                row-gap: 10px;
                border:3px solid crimson;
                #up, #down{
                    @include grid-center;
                }
                #m{
                    @include flex-center;
                    column-gap: 5px;
                }
            }
        }
        &_profile{
            height: 100%;
            border: 2px solid black;
            padding: 30px;
            &_picture{
                width: 200px;
                height: 200px;
                border: 2px solid green;
                position: relative;
                display: grid;
                justify-self: center;
                overflow: hidden;
                img{
                    object-fit: contain;
                    position: relative;
                }
            }
        }
        &_details{
            width: 600px;
            border: 2px solid salmon;
            height: 100%;
        }
    }
}