@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

html, body{
    width: 100%;
    height: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Oswald', sans-serif !important; */
    font-family: 'Times New Roman', Times, serif !important;
    letter-spacing: 0px !important;
}