
.cv{
    width: 800px;
    display: flex;
    position: relative;
    &_summary{
        border:1px solid white;
        width: 250px;
        display: grid;
        justify-content: center;
        padding-top: 20px;
        align-content: flex-start;
        height: 1131px;
        &_picture{
            border:1px solid white;
            width: 230px !important;
            height: 230px !important;
            border-radius: 10px;
            position: relative;
            img{
                //border:2px solid white;
                position: relative !important;
                width: 230px !important;
                height: 230px !important;
                border-radius: 10px;
                object-fit: contain !important;
            }
        }
        &_text{
            //border:2px solid peru;
            display: grid;
            padding: 10px;
        }
    }
    &_details{
        //border:2px solid blue;
        width: 550px;
        padding-top: 20px;
    }
}
.controls{
    //border: 2px solid purple;
    width: 350px;
    #colors{
        position: fixed;
        top:175px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        left:96px;
        gap:3px;
        button{
            background: transparent;
            border: none;
            width: 40px;
            height: 40px;
            background-image: url("../components/images/paint.png");
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    }
    #download{
        position: fixed;
        top:110px;
        left:100px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 25px;
        border: 2px solid black;
        padding: 10px;
        border-radius: 5px;
        background-color: black;
        color: white;
    }
    &_animation{
        position: fixed;
        top:25px;
        left: 135px;
        //border: 2px solid red;
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../components/images/click1.png");
        //animation: flash 4s infinite;
    }
}


@keyframes flash {
    0%{
        background-image: url("../components/images/click1.png");
    }
    93%{
        background-image: url("../components/images/click1.png");
    }
    94%{
        background-image: url("../components/images/click2.png");
    }
    95%{
        background-image: url("../components/images/click3.png");
    }
    96%{
        background-image: url("../components/images/click4.png");
    }
    97%{
        background-image: url("../components/images/click5.png");
    }
    98%{
        background-image: url("../components/images/click6.png");
    }
    99%{
        background-image: url("../components/images/click7.png");
    }
    100%{
        background-image: url("../components/images/click8.png");
    }
}
