
.cv{
    width: 800px;
    display: flex;
    position: relative;
    &_summary{
        border:1px solid white;
        width: 250px;
        display: grid;
        justify-content: center;
        padding-top: 20px;
        align-content: flex-start;
        &_picture{
            border:2px solid white;
            width: 230px;
            aspect-ratio: 1/1;
            overflow: hidden;
            border-radius: 10px;
            img{
                position: relative;
                width: 130%;
                height: 150%;
                bottom:10%;
                border-radius: 10px;
            }
        }
        &_text{
            //border:2px solid peru;
            display: grid;
            padding: 10px;
        }
    }
    &_details{
        //border:2px solid blue;
        width: 550px;
        padding-top: 20px;
    }
}
.controls{
    //border: 2px solid purple;
    width: 350px;
    button{
        position: fixed;
        top:110px;
        left:100px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 25px;
        border: 2px solid black;
        padding: 10px;
        border-radius: 5px;
    }
    &_animation{
        position: fixed;
        top:25px;
        left: 135px;
        //border: 2px solid red;
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../components/images/click1.png");
        animation: flash 4s infinite;
    }
}


@keyframes flash {
    0%{
        background-image: url("../components/images/click1.png");
    }
    93%{
        background-image: url("../components/images/click1.png");
    }
    94%{
        background-image: url("../components/images/click2.png");
    }
    95%{
        background-image: url("../components/images/click3.png");
    }
    96%{
        background-image: url("../components/images/click4.png");
    }
    97%{
        background-image: url("../components/images/click5.png");
    }
    98%{
        background-image: url("../components/images/click6.png");
    }
    99%{
        background-image: url("../components/images/click7.png");
    }
    100%{
        background-image: url("../components/images/click8.png");
    }
}
