
.cv{
    border: 1px solid red;
    width: 800px;
    display: flex;
    position: relative;
    &_summary{
        border:2px solid green;
        width: 250px;
        display: grid;
        justify-content: center;
        padding-top: 20px;
        &_picture{
            border:2px solid red;
            width: 230px;
            aspect-ratio: 1/1;
            overflow: hidden;
            img{
                position: relative;
                width: 130%;
                height: 150%;
                bottom:10%;
            }
        }
        &_text{
            border:2px solid yellow;
        }
    }
    &_details{
        border:2px solid blue;
        width: 550px;
        padding-top: 20px;
    }
}
.controls{
    border: 2px solid purple;
    width: 300px;

}